.app-title {
  float: left;
  padding-left: 10px;
}

.app-title a,
.app-menu span {
  font-size: 18px;
}

.app-header {
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 8px #f0f1f2;
  padding: 0 20px;
  background-color: #fff;
  z-index: 10;
}

.app-menu {
  float: right;
}

.logout-btn,
.login-btn {
  color: inherit;
}
